div.auth {
    display: block;
	position: absolute;
	top: 20%;
	left: 35%;
	width: 30%;
}

section.form {
    font-size: 1.2em;
    color: #68707d;
    margin-bottom: 25px;
    border-radius: 2px;
    background: #FFFFFF;
    margin: 10px 0px;
}

section.form h1 {
	grid-area: title;
	margin: 0;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	border-bottom: 1px solid #C4C5C9;
}

section.form input {
    width: calc(100% - 20px);
	padding: 10px;
	border: 0;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	background: #FFFFFF;
}